{% extends "base.html" %}

{% block head %}
<title>Add Post</title>
{% endblock %}


{% block body %}
{{ super() }}
<body background="{{ url_for('static', filename='img/newpost.jpg') }}" style=" background-repeat:no-repeat; background-size: 100vw 100vh">
<br>
<h1>What's On Your Mind ? </h1>
<br>
<form action="/posts/new" method="POST">
    <label for="title">Title</label>
    <input class="form-control" type="text" placeholder="Today's Topic" name="title" id="title" aria-label="Title">
    <br>
    <label for="author">Author</label>
    <input class="form-control" type="text" placeholder="Who's Writing" name="author" id="author" aria-label="Author">
    <br>
    Content
    <label for="content">Content</label>
    <textarea class="form-control" rows="3" name="content" id="content" placeholder="Let Your Mind Flow Here.."></textarea><br>
    <input type="submit" value="Post" class="btn btn-dark">
    <br>
</form>

{% endblock %}