{% extends "base.html" %}

{% block head %}
<title>Sign In</title>
{% endblock %}

{% block body %}
<body background="{{ url_for('static', filename='img/final_sign.jpg') }}"
      style=" background-repeat:no-repeat; background-size: 100vw 100vh">
<form class="form-horizontal" action='' method="POST">
    <!--    needed the below tag for protection of website-->
    {{ form.hidden_tag() }}
    <fieldset>
        <br>
        <div id="legend">
            <legend class="" style="color:white; font-size:45px; font-family:Courier New,courier,monospace;">
                <b>Register</b></legend>
        </div>
        <div class="form-group">
            <!-- Username -->
            <!--            <label class="control-label" for="username" style="color:white;font-size:18px;font-family:Lucida Console, Monaco, monospace";><b>Username</b></label>-->
            {{ form.username.label(class="form-control-label text-warning") }}
            <div class="controls">
                {% if form.username.errors %}
                {{ form.username(class="form-horizontal is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-sm") }}
                {% endif %}
<!--                <p class="help-block"-->
<!--                   style="color:white;font-family:Palatino Linotype, Book Antiqua, Palatino, serif;font-size:14px;">-->
<!--                    Length of username should be min 2 and max 10 containing char or num.</p>-->
            </div>
        </div>
        <br>
        <div class="form-group">
            <!-- E-mail -->
            <!--            <label class="control-label" for="email" style="color:white; font-size:18px;font-family:Lucida Console, Monaco, monospace;"><b>E-mail</b></label>-->
            {{ form.email.label(class="form-control-label text-warning") }}
            <div class="controls">
                {% if form.email.errors %}
                {{ form.email(class="form-horizontal is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-sm") }}
                {% endif %}
            </div>
        </div>
        <br>
        <div class="form-group">
            <!-- Password-->
            {{ form.password.label(class="form-control-label text-warning") }}
            <div class="controls">
                {% if form.password.errors %}
                {{ form.password(class="form-horizontal is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-sm") }}
                {% endif %}
<!--                <p class="help-block"-->
<!--                   style="color:white;font-size:14px;font-family:Palatino Linotype, Book Antiqua, Palatino, serif;">-->
<!--                    Password should be minimum 4 to maximum 12 characters in length</p>-->
            </div>
        </div>
        <br>
        <div class="form-group">
            <!--Confirm Password -->
            <!--            <label class="control-label" for="confirm_pwd" style="color:white; font-size:18px;font-family:Lucida Console, Monaco, monospace;"><b>Confirm Password</b></label>-->
            {{ form.confirm_pwd.label(class="form-control-label text-warning") }}
            <div class="controls">
                {% if form.confirm_pwd.errors %}
                {{ form.confirm_pwd(class="form-horizontal is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_pwd.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_pwd(class="form-control form-control-sm") }}
                {% endif %}
            </div>
        </div>
        <br>
        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}